@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* header styles start here  */
.hero-container{
    width: 1440px;
height: 652px;
/* border: 2px solid red; */
background-image: url("../images/Hero-bg.png");
}
.hero-content{
    width: 998px;
height: 582px;
margin: 0px auto;
margin-top: 26px;
margin-bottom: 44px;
/* border: 2px solid blue; */
margin-bottom: 0px;
}
.hero-image{
    width: 240.28px;
height: 240px;
margin: 0px auto;
margin-top: 26px;
margin-bottom: 32px;
}
.hero-text-contain{
    width: 998px;
height: 310px;
/* border: 2px solid red; */
margin: 0px auto;
}
.hero-text{
    width: 998px;
height: 212px;
margin: 0px auto;
/* border: 2px solid black; */
text-align: center;
justify-content: center;
align-items: center;
}
.hero-text h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
margin-top: 32px;

}
.hero-text{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 0px;
}
.btn-primary{
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    
}
.btn{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;

background: rgb(13, 19, 33);
padding: 21px;
}
/* web development start here  */
.development-container{
    width: 1140px;
height: 1393px;
margin-left: 148px;
margin-right: 153px;
margin-top: 74px;
border-radius: 16px;

background: rgba(13, 19, 33, 0.02);

}
.development-content{
    width: 946px;
height: 1233px;
margin: 80px 97px;

}
.content-text{
    margin: 0px auto;
    width: 852px;
height: 113px;
}
.content-text h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.content-text{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.web-contain{
    width: 90%;
    margin: 0 auto;
height: 336px;
margin-top: 30px;
border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.web-contain-text{
    width: 850px;
    height: 336px;
    display: flex;
    gap: 50px;
    
}
.text-description{
    width: 477px;
height: 336px;
align-items: center;

justify-content: center;
}
.text-description h1{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
padding: 16px;
}
.text-description p{
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    padding: 16px;
    display: flex;
    
}
.bn{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 10px;

}
.bn-primary{
    margin-left: 15px;
    margin-top: 60px;
   
 
}
.contain-image {
    width: 259.56px;
height: 217.01px;
margin-top: 50px;
margin-left: 30px;

}
.web-contains{
    width: 850px;
   height: 336px;
   margin-top: 30px;
   display: flex;
   gap: 32px;

}
.web-contains-image{
    width: 240px;
    height: 240px;
    margin-top: 45px;

}
.web-contains-image img{
    width: 223.2px;
height: 208.85px;
}
.web-contains h1{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
padding: 16px;
}
.web-contains p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
padding: 16px;
opacity: 0.7;
}
.last-web-contain{
    width: 850px;
    height: 336px;
    margin-top: 20px;
    display: flex;
    
}
.last-web-contains-text h1{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
padding: 16px;
}
.last-web-contains-text p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
padding: 16px;

}
.last-bn-primary{
    margin-left: 20px;
    margin-top: 80px;
}
*{
    max-width: 1320px;
}
/* web devements ends here  */
/* inspiration box start here  */
.inspiration-container{
    width: 1140px;
    height: 775px;
    margin-left: 148px;
    margin-right: 152px;
    margin-top: 88px;
    

}
.inspiration-text{
    width: 852px;
    height: 113px;
    margin: 0px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.inspiration-text h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.inspiration-text p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 40px;

}
.inspiration-video{
    width: 1140px;
   height: 614px;
   margin-top: 48px;
   
}
.videos{
    width: 1140px;
height: 614px;

  
}
.skill{
    width: 1140px;
    height: 460px;
    margin: 0px auto;
    margin-left: 152px;
    margin-top: 50px;
   


}
.skill-text{
    width: 946px;
height: 113px;
margin: 0px auto;
justify-content: center;
align-items: center;
text-align: center;
}
.skill-text h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.skill-text p{
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.skill-container{
    width: 1140px;
   height: 299px;
   margin-top: 48px;
   display: flex;
   gap: 24px;
}
.first-skill{
    width: 33%;
    height: 299px;
    border-radius: 16px;

background: rgba(255, 76, 30, 0.05);
}
.second-skill{
    width: 33%;
    height: 299px;
    border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
}
.third-skill{
    width: 33%;
    height: 299px;
    border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
}
.first-text{
    width: 284px;
height: 219px;
margin: 24px auto;
}
.first-text h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.first-text p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.first-text a{
    Font: Azeret Mono
Font weight: 700
Font size: 16pxpx
Row height: 19px
Letter spacing: 0%
Align: Align left
}
/* inspiration-container ends here */
/* footer start here  */
.support-contain{
    width: 1140px;
height: 313px;
margin-top: 49px;
margin-left: 150px;
margin-right: 150px;
background-image: url("../images/handshake.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin-bottom: 64px;



}
.support-content{
    width: 1044px;
height: 185px;

/* background-color:hsla(0,0%,1%,0.2) */
/* hsla(0,0%,1%,0.2) */
/* hsla(0,0%,1%,0.2); */

text-align: center;
margin-top: 64px;
margin-bottom: 64px;
border: 0.1px solid;
margin: 0 auto;
}
.support-text{
    width: 730px;
height: 104px;
margin: 0px auto;
margin-bottom: 20px;

margin-top: 64px;
}
.support-text h1{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;

}
.support-text p{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 80px;

}
.bt-primary{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;

background: rgb(255, 255, 255);
padding: 17px 20px 17px 20px;


}
.new-bt{
    margin: 0 16px;
}
.new-bt input[type="text"]{
    margin: 0px 16px;
    padding: 19px 20px 19px 20px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
width: 548px;
height: 57px;
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
margin-top: 0px;
margin-bottom: 300px;
}
.footers{
    width: 1440px;
    height: 100px;
    border: 1px solid white ;
    border-radius: 16px;

background: rgba(13, 19, 33, 0.03);
}
.footer-item{width: 1140px;
    height: 36px;
    border: 1px solid white ;
    margin: 0 auto;
    margin-bottom: 32px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;

}


